@tailwind base;
@tailwind components;
@tailwind utilities;

.Header {
  z-index: 100; /* Adjust the value as needed */
}



.button {
  font-weight: 600; /* font-medium */
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 9999px; /* rounded-full */
  transition-duration: 0.5s; /* duration-500 */
  min-width: 100px; 
  max-width: 160px;
  margin-top: 3px;
  margin-bottom: 3px;

  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .flex-col-mobile {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .Header {
    /* Add your desktop styles here */
    padding-top: 10px;
  }
}


.logo-black {
    filter: invert(1); /* Or grayscale(100%) for grayscale */
    width: 30%;
    height: auto;
  }

  @media only screen and (min-width: 360px) and (max-width: 789px) { /* Mobile Devices */
    .logo-black {
        filter: invert(1); /* Or grayscale(100%) for grayscale */
        width: 20%;
        height: auto;
    }
}